/**
 * Icons
 */
@font-face {
    font-family: 'entypo';
    src: url('assets/entypo.eot');
    src: url('assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('assets/entypo.woff') format('woff'),
         url('assets/entypo.ttf') format('truetype'),
         url('assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon] {
    font-family: 'entypo';
    font-size: 2em;
    line-height: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-repeat: no-repeat;
    font-family: 'Helvetica', Arial, sans-serif;
}

.gk-player {
    width: 100%;
    color: #fff;
}

.gk-player-title {
    font-weight: 100;
    text-align: center;
}

.gk-player-album {
    font-weight: 100;
    font-size: 3.2em;
    -webkit-transform: rotate(270deg);
    margin: 0;
    width: 568px;
    height: 1.2em;
    line-height: 1.2em;
    position: absolute;
    bottom: 260px;
    right: -252px;
}

.gk-player-buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 75px;
}

.gk-player-button {
    border: 1px solid transparent;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    font-size: 3em;
    line-height: .5em;
    background-color: #4D5259;
    color: #ecf0f1;
}

#play.gk-player-button {
    width: 78px;
    height: 78px;
    font-size: 6em;
    padding-left: 8px;
}

#ff.gk-player-button {
    text-indent: 4px;
}

#fb.gk-player-button {
    text-indent: -4px;
}

.gk-player-volume-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -100px;
}

.gk-player-volume {
    visibility: hidden;
}

.gk-player-time {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -30px;
    font-size: 1.5em;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    display: none;
}

.modal div {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -1em;
}