/**
 * Icons
 */
@font-face {
    font-family: 'entypo';
    src: url('assets/entypo.eot');
    src: url('assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('assets/entypo.woff') format('woff'),
         url('assets/entypo.ttf') format('truetype'),
         url('assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon] {
    font-family: 'entypo';
    font-size: 2em;
    line-height: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-repeat: no-repeat;
    font-family: 'Helvetica', Arial, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

       /*
         Introduced in IE 10.
         See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
       */
    -ms-user-select: none;
    user-select: none;
}

.gk-volume-lead {
    border-radius: 50%;
    width: 20px;
    border: none;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    margin-top: -40px;
    margin-left: -10px;
    background: #ECF0F1; 
    /* width and height can be anything, as long as they're equal */
}

.gk-background-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2FC0E0;
}

.gk-player {
    width: 100%;
    color: #fff;
}

.gk-player-title {
    font-weight: 100;
    text-align: center;
}

.gk-player-album {
    font-weight: 100;
    font-size: 3.2em;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg);
    margin: 0;
    width: 568px;
    height: 1.2em;
    line-height: 1.2em;
    position: absolute;
    bottom: 260px;
    right: -252px;
}

.gk-player-buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 75px;
}

.gk-player-button {
    width: 50px;
    height: 22px;
    border: none;
}

#fb.gk-player-button {
    background: url('button_images/gk-rewind.png');
    background-repeat: no-repeat;
    background-position: center;
}

#stop.gk-player-button {
    background: url('button_images/gk-stop.png');
    background-repeat: no-repeat;
    background-position: center;
}

#play.gk-player-button {
    background: url('button_images/gk-play.png');
    background-repeat: no-repeat;
    background-position: center;
}

#pause.gk-player-button {
    background: url('button_images/gk-pause.png');
    background-repeat: no-repeat;
    background-position: center;
}

#ff.gk-player-button {
    background: url('button_images/gk-fastforward.png');
    background-repeat: no-repeat;
    background-position: center; 
}

/*
    Change images for retina display
*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
  
    #fb.gk-player-button {
        background: url('button_images/gk-rewind@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    #stop.gk-player-button {
        background: url('button_images/gk-stop@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    #play.gk-player-button {
        background: url('button_images/gk-play@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    #pause.gk-player-button {
        background: url('button_images/gk-pause@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    #ff.gk-player-button {
        background: url('button_images/gk-fastforward@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%; 
    }

}

.gk-player-volume-container-addition{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin-top: -130px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background: rgb(172, 181, 172);
}

.gk-player-progress-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -60px;
}

.gk-player-progress {
    visibility: hidden;
}

.gk-player-volume-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -100px;
}

.gk-player-volume {
    visibility: hidden;
}

.gk-player-time {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -30px;
    font-size: 1.5em;
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    display: none;
}

.modal .arrow {
    display: block;
    position: absolute;
    top: 60px;
    left: 70px;
    background: url("assets/arrow.png") no-repeat -70px -75px;
    background-size: 270px;
    width: 200px;
    height: 150px;
}

.modal div {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -7em;
}

.modal h2 {
    color: #FFF;
    font-family: "Reenie Beanie", cursive;
    font-size: 2.3em;
    padding: 0 20px;
}

